---
import Layout from '../../layouts/Layout.astro';
import PlatoonStructure from '../../components/PlatoonStructure';

const { slug } = Astro.params;

let res = await fetch(`http://127.0.0.1:8000/api/platoons/${slug}/details/`)
let [platoon] = await res.json();
console.log(platoon.structure)

export async function getStaticPaths() {
  const items = await fetch('http://127.0.0.1:8000/api/platoon_ids/').then((response) =>
    response.json()
  );

  const paths: { params: { slug: string; }; }[] = [];

  items.map((item: { id: string; }) => {
    paths.push({params: {slug: item.id}});
  });

  return paths;
}

---

<Layout title="Platoons">
  <main class="flex flex-col text-gray-300 max-w-2xl place-content-center mx-auto mt-5">
    <h1 class="self-center text-3xl">{platoon.name}</h1>
    <div class="mt-12">
      <PlatoonStructure {...platoon.structure}/>
    </div>
  </main>
</Layout>

