---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { loadEnv } from "vite";

const { PUBLIC_API_SITE } = loadEnv(import.meta.env.PUBLIC_API_SITE, process.cwd(), "");

const items = await fetch(PUBLIC_API_SITE + '/api/platoons/').then((response) =>
  response.json()
);

---

<Layout title="Platoons">
	<main class="max-w-2xl">
		<p class="instructions bg-neutral-900 text-gray-300">
			Below you can find a list of all of the currently available platoon structures.
		</p>
		<ul role="list" class="flex flex-col gap-4">
            {items.map((item: { id: string; country: string; name: string; branch: string; era:any;}) => (
                <Card
                    href={"/platoons/" + item.id}
                    image={"https://flagcdn.com/60x45/" + item.country.toLowerCase() + ".webp"}
					image_title={item.country + " flag"}
					title={item.name}
                    branch={"Branch - " + item.branch}
					dateStart={JSON.parse(item.era).lower}
					dateTo={JSON.parse(item.era).upper}
                />
            ))}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>
